<div fxLayout="row" fxLayoutAlign="center center" class="login-page">
    <mat-card fxFlex="25">
        <mat-card-title>LOGIN</mat-card-title>
        <mat-card-content>
            <!-- <form> -->
            <form [formGroup]="loginForm" (ngSubmit)="submit()" autocomplete="off">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-form-field>
                        <input matInput placeholder="USER ID" formControlName="userId">
                    </mat-form-field>
                    <!-- <mat-form-field >
            <input matInput placeholder="PASSWORD"  formControlName="passWord">
         </mat-form-field> -->
                    <mat-form-field>
                        <input matInput placeholder="Enter password" [type]="hide ? 'password' : 'text'" formControlName="passWord">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <!-- <button mat-raised-button color="primary" (click)="submit(userId, passWord)">LOGIN</button> -->
                    <button mat-raised-button color="primary" (click)="submit()">LOGIN</button>
                </div>
            </form>
            <!-- </form> -->
        </mat-card-content>
    </mat-card>
</div>