<div fxLayout="row" fxLayoutAlign="center center" class="login-page">
<mat-card fxFlex="25">
   <mat-card-title>Login</mat-card-title>
   <mat-card-content>
      <!-- <form> -->
      	<div fxLayout="column" fxLayoutAlign="space-around center" >
         <mat-form-field >
            <input matInput placeholder="User Id "  [(ngModel)]="userId">
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="Password"  [(ngModel)]="passWord">
         </mat-form-field>
         <button mat-raised-button color="primary" (click)="submit(userId, passWord)">Login</button>
     </div>
      <!-- </form> -->
   </mat-card-content>
</mat-card>
</div>