<div fxLayout="row" fxLayoutAlign="center center" class="login-page">
<mat-card fxFlex="25">
   <mat-card-title>LOGIN</mat-card-title>
   <mat-card-content>
      <!-- <form> -->
      	<div fxLayout="column" fxLayoutAlign="space-around center" >
         <mat-form-field >
            <input matInput placeholder="USER ID"  [(ngModel)]="userId">
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="PASSWORD"  [(ngModel)]="passWord">
         </mat-form-field>
         <button mat-raised-button color="primary" (click)="submit(userId, passWord)">LOGIN</button>
         <!-- <button mat-button color="primary" (click)="signup()">SIGNUP HERE</button> -->
     </div>
      <!-- </form> -->
   </mat-card-content>
</mat-card>
</div>