<mat-toolbar color="primary" class="header-hgt52">
    <span style="margin-top: 7px;"><mat-icon>{{icon}}</mat-icon></span><span class="dash-label">{{label}}</span>
    <span class="header-spacer"></span>
   <!-- <button mat-icon-button [matMenuTriggerFor]="belowMenu" class="toolbr-icn-siz">
    <mat-icon>apps</mat-icon>
  </button> -->
<!-- <mat-menu #belowMenu="matMenu" yPosition="below" class="app-menu">
  <div class="app-menu"  fxLayout="row wrap">
    <button  mat-icon-button *ngFor="let menu of mainMenu;let i = index" (click)="selectItem(i,menu)" routerLink="/{{menu.name}}" [ngClass]="{'active': selectedIdx == i}" matTooltip="{{menu.name}}" class="active-hover toolbr-icn-siz">
    <mat-icon [ngStyle]="{'color': menu.color}">{{menu.icon}}</mat-icon>
  </button>
  </div>
</mat-menu> -->
<button mat-raised-button (click)="logOut()">LOGOUT</button>
<!-- <button mat-raised-button (click)="logout()" routerLink="logout">Basic</button> -->
 <!-- <button mat-button color="accent" >Logout</button> -->
</mat-toolbar>
<router-outlet></router-outlet>
<!-- <div>
  <mat-divider></mat-divider>
  <mat-toolbar  class="header-hgt40">
    <span class="header-spacer"></span>
       <button mat-icon-button style="margin-right: 15px;" routerLink="add">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

  <ag-grid-angular 
    style="width: 100%; height: calc(100vh - 95px);" 
    class="ag-theme-material"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    (rowClicked)='onRowClicked($event)'
    (gridReady)="onGridReady($event)"
    >
</ag-grid-angular>
</div>
 -->