<mat-toolbar color="primary" class="header-hgt52">
    <span style="margin-top: 7px;"><mat-icon>{{icon}}</mat-icon></span><span class="dash-label">{{label}}</span>
    <span class="header-spacer"></span>
       <button mat-icon-button [matMenuTriggerFor]="belowMenu">
    <mat-icon>apps</mat-icon>
  </button>
<mat-menu #belowMenu="matMenu" yPosition="below" class="app-menu">
  <div class="app-menu"  fxLayout="row wrap">
    <button mat-icon-button *ngFor="let menu of sideNavmenus;let i = index" (click)="selectItem(i,menu)" routerLink="/{{menu.name}}" [ngClass]="{'active': selectedIdx == i}" matTooltip="{{menu.name}}" class="active-hover">
    <mat-icon [ngStyle]="{'color': menu.color}">{{menu.icon}}</mat-icon>
  </button>
  </div>
</mat-menu>
</mat-toolbar>
<!-- <button routerLink="/customer">Customers</button>
<button routerLink="/order">Orders</button> -->
<router-outlet></router-outlet>